<div class="p-2">
  <div *ngIf="albums" class="card">
    <p-dataView #dv [value]="albums" [paginator]="true" [rows]="4" filterBy="title" layout="grid">
        <ng-template let-album pTemplate="gridItem">
            <div class="col-3 p-md-3" style="display: inline-block">
                <div style="cursor: pointer;" class="album-grid-item card">
                    <div class="album-grid-item-top">
                        <div>
                            <i class="pi pi-tag album-category-icon"></i>
                            <span class="album-category">{{album.artist}}</span>
                        </div>
                    </div>
                    <div class="album-grid-item-content">
                        <img [src]=" album.imageUrl" [alt]="album.imageUrl" />
                        <div class="album-name">{{album?.title}}</div>
                        <p-rating class="album-rating" [ngModel]="album.rating" [cancel]="false">
                        </p-rating>
                    </div>
                    <div class="album-grid-item-bottom mt-1">
                        <p-button class="album-favourite" icon="pi pi-heart"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
  </div>
</div>
