
  .p-dropdown {
      width: 14rem;
      font-weight: normal;
  }

  .album-name {
      font-size: 1.5rem;
      font-weight: 700;
  }

  .album-description {
      margin: 0 0 1rem 0;
  }

  .album-category-icon {
      vertical-align: middle;
      margin-right: .5rem;
  }

  .album-category {
      font-weight: 600;
      vertical-align: middle;
  }

  .album-list-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      width: 30%;
  }
      img {
          width: 150px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          margin-right: 2rem;
      }

      .album-list-detail {
          flex: 1 1 0;
      }

      .p-rating {
          margin: 0 0 .5rem 0;
      }

      .album-prep-time {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: .5rem;
          align-self: flex-end;
      }

      .album-list-action {
          display: flex;
          flex-direction: column;
      }

      .p-button {
          margin-bottom: .5rem;
      }


  .album-grid-item {
      margin: .5em;
      border: 1px solid #dee2e6;
  }
      .album-grid-item-top,
      .album-grid-item-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      img {
          width: 75%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          margin: 2rem 0;
          max-width: 60%;
      }

      .album-grid-item-content {
          text-align: center;
      }

      .album-prep-time {
          font-size: 1.5rem;
          font-weight: 600;
      }



.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
:host ::ng-deep .album-list-item {
  flex-direction: column;
  align-items: center;

}
  img {
    width: 75%;
    margin: 2rem 0;
  }

  .album-list-detail {
    text-align: center;
  }

  .album-prep-time {
    align-self: center;
  }

  .album-list-action {
    display: flex;
    flex-direction: column;
  }

  .album-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }


}
